@import url("https://fonts.googleapis.com/css?family=Be+Vietnam+Pro:wght@3886display-swap");

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family:  "Be Vietnam Pro ", sans-serif ;
}
#wrapper{
    height:100vh;
    overflow-y: auto;
    overflow-x:hidden;

}
.container{
    width: 1200px;
    margin:0 auto;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
  
}
.logo-text{
    margin-left: -1.2rem;
    font-size:24px ;
    
}
.logo{
    width: 80px;

}
.nav-items{
    display: flex;
    gap:2rem;
    padding:0 4em;
}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor:pointer;
}
.nav-items div a{
    color: black;
    
}
a{
    text-decoration: none;
}
.nav-items div:hover{
    font-weight: bold;
    transition: 0.3s;
}
.hero_section{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5rem;
    margin: 2rem auto;
    padding:0 1rem;
    padding-bottom:8 rem;
}
.faded-text{
    user-select: none;
    font-size: 7rem;
    color:lightgrey;

    bottom:-13%;
    left:2%;
    font-weight:bold;
    transition: all 2s;
}
.hero_section-left{

    display: flex;
    flex-direction:column;
    justify-content: centre;
    gap:1rem;

}
.hero_section-heading{
    font-size: 35px;
    font-weight: 500;
    color: #343d68;
}
.role{
    color:blue;
    font-weight: 900;
    
}
.hero_section-subheading{
    font-size: 45px;
    line-height: 45px;
}
.hero_section-description{
    margin-top:1rem ;
    width:70%;
    font-weight:550;
    
}

.button-red{
    position: relative;
    top: 85%;
    left: 50%;
    
    transform: translate(-50%, -50%);
  }
  
  p{
    position: relative;
    display: block ;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    
  }
  
  p span{
    position: relative;
    z-index: 2;
  }
  
  p:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
  }
  
  p:hover{
    color: #fff;
  }
  
  p:hover:after{
    width: 100%;
  }
  .absolute{
    position:absolute;
  }
  .hero_section-right{
    
    position:relative;
    height: auto;
    width: max-content;
  }
  .userimage{
    width: 700px;
    height: 700px;
    padding:2.2rem;
    filter:grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
  }
  .user-image img{
    z-index: -12;
  }
  @keyframes scaleImage  {
    0%{
        filter:grayscale(0);
        transform: scale(1);
        box-shadow: 4px 4px 4px blue;

    }
    50%{
        transform: scale(1.1);
        filter:grayscale(1);
        box-shadow: 4px 4px 4px blue;
        
        

    }
    100%{
        box-shadow: 4px 4px 4px blue;
        transition: scale(1);
        filter:grayscale(0);
    }

    
  }
  .icon-dots{
    z-index: 10;
    bottom:-1rem;
    right:0;
    animation-name:dotsanimation;
    animation-duration:3s;
    animation-iteration-count: infinite;
  }
  @keyframes dotsanimation {
    0%{
        transform: translateY(0px);

    }
    50%{
        transform:translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
    
  }
  .icon-cube{
    z-index: 10;
    top:-0.8em;
    right:1em;
    animation-name:cubeRotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;

  }
  @keyframes cubeRotate {
    0%{
        transform: rotateY(0deg) translateY(0px);
    }
    50%{
        transform: rotateY(180deg) translateY(-12px);
    }
    100%{
        transform: rotateY(0deg) translateY(0px);
    }
  }
.icon-circle{
    
    z-index:10;
    left:0;
    bottom:0;
    animation-name:shakeeffect ;
    animation-duration:3s;
    animation-timing-function: linear ;
    animation-iteration-count: infinite;
}
@keyframes shakeeffect {
    0%{
        left:0%;
        bottom:0%;
    }
    50%{
        left:5%;
        bottom:5%;
    }
    100%{
        left:0%;
        bottom:0%;
    }
    
}
.icon-zigzags{
    z-index:10;
    left:-0.3em;
    top:1.5em;
    animation-name:zigzaganimation ;
    animation-duration:3s;
    animation-timing-function: ease-in ;
    animation-iteration-count: infinite;

}
@keyframes zigzaganimation {
    0%{
        left:5%;
        top:2%;
    }
}
.icon-plus{
    z-index:10;
    left:-0.3em;
    top:1.5em;
    animation-name:shakeeffectplus ;
    animation-duration:3s;
    animation-timing-function: ease-in ;
    animation-iteration-count: infinite;

}
@keyframes shakeeffectplus {
    0%{
        top:-3%;
        left:30%;
        right:50%;
    }
    
}
.project-section{
    background-color: rgb(231,231,231);
    margin-top:4rem;
}
.pageheading{
    color:#ff003b;
    font-size: 90px;
    text-align: center;
    padding-top:30px;
}
.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display:flex;
    flex-direction: column;
    gap:120px;
}
.project-card{
    
    width:90%;
    height: 550px; 
    background-image: url('image/project/project1.jpg');
    background-size: cover;
    box-shadow: 0px 0px 40px #1f1f1f;
    position: relative;
}
.project-card::after{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: #1f1f1f9a;
    transform: scaleX(1);
    z-index: 0;
    
}

.project-card::before{
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

    background:linear-gradient(45deg ,#343d68, #343d68be,#343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
     
}
.project-card:hover::before{
    transform: scaleX(1);
}
.project-number{
    color: whitesmoke;
    position:absolute;
    font-size: 200px;
    font-weight: 600;
    z-index: 10;
    display:none;
    
}
.project-card:hover .project-number{
    display:block;

}
.project-number-right{
    right:-40px;
    top:-45px;
}
.project-number-left{
    left:-40px;
    top:-45px;
}
.project-content{
    position:absolute;
    display:flex;
    flex-direction:column;
    color:white;
    padding:2em;
    bottom:20%;
    z-index:5;
    gap:1em;
    transition: all 0.5s;
}
.project-content-left{
    left:10%;
}
.project-content-right{
    right:10%;
}
.project-skill-container{
    width:60%;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}
.project-skill{
    width: 40px;
}
.project-heading{
    font-size:50px;
    font-weight: bold;
    line-height: 3rem;
}
.project-subheading{
    width:70%;
    font-size:16px ;
    font-style: italic;
}
.button-group{
    display: flex;
    align-items: center;
    gap:0.9rem;
}
.icon{
    cursor: pointer;
    color:#fff;
    font-size: 20px;
    transition: all 0.4s;
}
.icon:hover{
    color:#ff003b;
}
.project-card:hover .project-content{
    transform: scale(1.3);

}
#project1{
    background-image: url(image/project/project1.jpg);
}
#project2{
    margin-left: 120px;
    background-image: url(image/project/project2.jpg);
}
#project3{
    background-image: url(image/project/project33.jpg);
}
#project4{
    margin-left: 120px;
    background-image: url(image/project/project44.jpg);
}
@media(max-width:1300px){
    .pageheading{
        padding-top:30px;
        color:#ff003b;
        text-align:center;
        font-size:40px;
    }
    .project-container{
        padding:5px;
        margin:10px;
        gap:60px;

    }
    .project-card{
        width:100%;
        height:300px;
        background-size: cover;
        background-position: center;
        
    }
    .project-content{
        scale:0.5;
        bottom:0;
        top:0;
        right:0;
        left:0;
    }
    .project-content-left{
        left:0;

    }
    .project-heading{
        font-size:40px;
        width:100%;
    }
    .project-subheading{
        width:100%;

    }
    #project2{
        margin-left:0;
    }
    #project4{
        margin-left:0;
    }
    .project-skill-container{
        width:100%;
    }
    .project-skill{
        width:35px;
    }
    .project-card:hover .project-number{
        display: none;
    }
    .project-card:hover .project-content{
        scale: 0.55;
    }
    
}
.skills-container{
    display:flex;
    position:relative;
    gap:30px;
    padding:5rem;
    margin:10rem auto;

    
}
.skills-container-left{
    width:50%;
    display:flex;
    flex-direction: column;
}
.skills-container-right{
    display: flex;
    flex-wrap: wrap;
    width:50%;
    position :relative;
    gap:2rem;
    justify-content: center;
    
}
.skill-fade-text{
    position: absolute;
    font-size: 15em;
    font-style: bold;
    color:rgb(231,231,231);
    bottom:-33%;
    right:-30%;
    user-select: none;
}
.blob-style{
    position:absolute;
    top:50%;
    bottom:50%;
    transform:translate(-50%,-50%);
    animation:blobanimation 3s infinite;
    z-index: -9;
    justify-content: center;
    

}
@keyframes blobanimation{
    50%{
        top:46%;
        bottom:46%;
    }
}
.skill-logo{
    width:90px;
    transition: all 0.5s;
}
.skill-logo:hover{
    transform: scale(1.2);
}
.skill-heading{
    font-size: 50px;
    font-style: bold;
    color:#ff003b;
    line-height: 50px;
}
.caps{
    font-size: 90px;
}
.skill-subheading{
    margin-top:1rem;
    width:85%;
    text-align: justify;

}
#button-project1{
    position: relative;
    left:16%;
    bottom:15%;
}
#button-project2{
    position: relative;
    left:26%;
    bottom:15%;
}
#button-project3{
    position: relative;
    left:26%;
    bottom:15%;
}
#button-project4{
    position: relative;
    left:26%;
    bottom:15%;
}
.contactus-form{
    background-color:rgb(231,231,231);
    width:100%;
}
.contactus-heading{
    font-size: 5rem;
    color:#ff003b;
    padding-top: 2rem;
}
.contactus-subheading{
    font-size: 3rem;
    color:#343d68aa;
    text-transform: capitalize;
}
contactus-form-container{
    margin-top:25px;
    display:flex;
    align-items: center;
    justify-content: center;
} 
.form{

} 
.formfield-container{
    width:100%;

} 
.formfield{
    width: 100%;
    height:42px ;
    padding:0 2rem;
    font-size: 18px;
    box-shadow:2px 2px 10px #343d68;
    border-radius: 5px;
    font-weight: 500;
    border:none;
    margin:27px;

} 
.formfield-textarea{
    height:auto;
    padding-top:1rem;
}
#button-project5{
    position: relative;
    bottom:10%;
    left:11%;
    margin-top: 1rem;
}
#button-project5:hover{
    scale: 1.01;
}
footer{
    background-color:#343d68;
    margin-top: -1px;
    position: relative;
    padding: 5rem;
}
.footer-wrapper{
    display: flex;
    gap:1rem;
    padding:1.2rem;
    justify-content: space-between;
    align-items: center;
}
.footer-faded-text{
    position: absolute;
    left:0;
    bottom:-12%;
    color:white;
    user-select: none;
    font-size:5rem;

}
.link-wrapper{
    display:flex;
    gap:1.4rem;
    

}
.link-wrapper div a{
    color:white;
    text-decoration: none;
    transition:all 0.5s;
}
.link-wrapper div a:hover{
    color:#ff003b;
}
.icon-wrapper{
    display: flex;
    gap:1.5rem;
}









